body {
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 9px -410.66667px #0d00ff, 157px -34.66667px #ff00cc, 216px -222.66667px #a200ff, -128px 76.33333px #a6ff00, 84px 15.33333px #00ff22, 100px 80.33333px #004dff, 167px -57.66667px #ff009d, 207px -12.66667px #7bff00, 29px -87.66667px #3c00ff, 51px -341.66667px #bbff00, -185px -16.66667px #fbff00, -212px 61.33333px #ff7700, -244px -341.66667px #ff004d, 58px -30.66667px #8800ff, 179px -243.66667px #ff005e, -131px -187.66667px #00ffcc, -179px -244.66667px #0040ff, 64px -47.66667px #ff00ee, -226px -302.66667px #0066ff, -222px 49.33333px #00bbff, -11px -179.66667px #f2ff00, -187px -165.66667px #00ff66, 216px -362.66667px #00ff26, -246px -318.66667px #ff5500, -225px -316.66667px #00ff88, 126px -203.66667px #37ff00, 250px -361.66667px #ff001e, 18px -315.66667px #eeff00, 15px 81.33333px #73ff00, 130px -98.66667px #ff0011, 117px 78.33333px #eaff00, 111px -332.66667px #ff00ee, 177px -35.66667px #1500ff, 88px -298.66667px #00ffe1, 59px -75.66667px #ff6a00, 10px 42.33333px #00aeff, 31px -250.66667px #8400ff, 11px -330.66667px #00d5ff, -128px -107.66667px #ffee00, -139px -1.66667px #00ff15, -1px 39.33333px #88ff00, 66px 31.33333px #ff0026, -75px -215.66667px #ff4000, -205px -409.66667px #cc00ff, 139px -332.66667px #aaff00, -199px 40.33333px #00ff9d, -154px -183.66667px #ff007b, -35px -294.66667px #0400ff, -171px -219.66667px #59ff00, -98px -390.66667px #00eaff, -22px -413.66667px #00ff09;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 9px -410.66667px #0d00ff, 157px -34.66667px #ff00cc, 216px -222.66667px #a200ff, -128px 76.33333px #a6ff00, 84px 15.33333px #00ff22, 100px 80.33333px #004dff, 167px -57.66667px #ff009d, 207px -12.66667px #7bff00, 29px -87.66667px #3c00ff, 51px -341.66667px #bbff00, -185px -16.66667px #fbff00, -212px 61.33333px #ff7700, -244px -341.66667px #ff004d, 58px -30.66667px #8800ff, 179px -243.66667px #ff005e, -131px -187.66667px #00ffcc, -179px -244.66667px #0040ff, 64px -47.66667px #ff00ee, -226px -302.66667px #0066ff, -222px 49.33333px #00bbff, -11px -179.66667px #f2ff00, -187px -165.66667px #00ff66, 216px -362.66667px #00ff26, -246px -318.66667px #ff5500, -225px -316.66667px #00ff88, 126px -203.66667px #37ff00, 250px -361.66667px #ff001e, 18px -315.66667px #eeff00, 15px 81.33333px #73ff00, 130px -98.66667px #ff0011, 117px 78.33333px #eaff00, 111px -332.66667px #ff00ee, 177px -35.66667px #1500ff, 88px -298.66667px #00ffe1, 59px -75.66667px #ff6a00, 10px 42.33333px #00aeff, 31px -250.66667px #8400ff, 11px -330.66667px #00d5ff, -128px -107.66667px #ffee00, -139px -1.66667px #00ff15, -1px 39.33333px #88ff00, 66px 31.33333px #ff0026, -75px -215.66667px #ff4000, -205px -409.66667px #cc00ff, 139px -332.66667px #aaff00, -199px 40.33333px #00ff9d, -154px -183.66667px #ff007b, -35px -294.66667px #0400ff, -171px -219.66667px #59ff00, -98px -390.66667px #00eaff, -22px -413.66667px #00ff09;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 9px -410.66667px #0d00ff, 157px -34.66667px #ff00cc, 216px -222.66667px #a200ff, -128px 76.33333px #a6ff00, 84px 15.33333px #00ff22, 100px 80.33333px #004dff, 167px -57.66667px #ff009d, 207px -12.66667px #7bff00, 29px -87.66667px #3c00ff, 51px -341.66667px #bbff00, -185px -16.66667px #fbff00, -212px 61.33333px #ff7700, -244px -341.66667px #ff004d, 58px -30.66667px #8800ff, 179px -243.66667px #ff005e, -131px -187.66667px #00ffcc, -179px -244.66667px #0040ff, 64px -47.66667px #ff00ee, -226px -302.66667px #0066ff, -222px 49.33333px #00bbff, -11px -179.66667px #f2ff00, -187px -165.66667px #00ff66, 216px -362.66667px #00ff26, -246px -318.66667px #ff5500, -225px -316.66667px #00ff88, 126px -203.66667px #37ff00, 250px -361.66667px #ff001e, 18px -315.66667px #eeff00, 15px 81.33333px #73ff00, 130px -98.66667px #ff0011, 117px 78.33333px #eaff00, 111px -332.66667px #ff00ee, 177px -35.66667px #1500ff, 88px -298.66667px #00ffe1, 59px -75.66667px #ff6a00, 10px 42.33333px #00aeff, 31px -250.66667px #8400ff, 11px -330.66667px #00d5ff, -128px -107.66667px #ffee00, -139px -1.66667px #00ff15, -1px 39.33333px #88ff00, 66px 31.33333px #ff0026, -75px -215.66667px #ff4000, -205px -409.66667px #cc00ff, 139px -332.66667px #aaff00, -199px 40.33333px #00ff9d, -154px -183.66667px #ff007b, -35px -294.66667px #0400ff, -171px -219.66667px #59ff00, -98px -390.66667px #00eaff, -22px -413.66667px #00ff09;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 9px -410.66667px #0d00ff, 157px -34.66667px #ff00cc, 216px -222.66667px #a200ff, -128px 76.33333px #a6ff00, 84px 15.33333px #00ff22, 100px 80.33333px #004dff, 167px -57.66667px #ff009d, 207px -12.66667px #7bff00, 29px -87.66667px #3c00ff, 51px -341.66667px #bbff00, -185px -16.66667px #fbff00, -212px 61.33333px #ff7700, -244px -341.66667px #ff004d, 58px -30.66667px #8800ff, 179px -243.66667px #ff005e, -131px -187.66667px #00ffcc, -179px -244.66667px #0040ff, 64px -47.66667px #ff00ee, -226px -302.66667px #0066ff, -222px 49.33333px #00bbff, -11px -179.66667px #f2ff00, -187px -165.66667px #00ff66, 216px -362.66667px #00ff26, -246px -318.66667px #ff5500, -225px -316.66667px #00ff88, 126px -203.66667px #37ff00, 250px -361.66667px #ff001e, 18px -315.66667px #eeff00, 15px 81.33333px #73ff00, 130px -98.66667px #ff0011, 117px 78.33333px #eaff00, 111px -332.66667px #ff00ee, 177px -35.66667px #1500ff, 88px -298.66667px #00ffe1, 59px -75.66667px #ff6a00, 10px 42.33333px #00aeff, 31px -250.66667px #8400ff, 11px -330.66667px #00d5ff, -128px -107.66667px #ffee00, -139px -1.66667px #00ff15, -1px 39.33333px #88ff00, 66px 31.33333px #ff0026, -75px -215.66667px #ff4000, -205px -409.66667px #cc00ff, 139px -332.66667px #aaff00, -199px 40.33333px #00ff9d, -154px -183.66667px #ff007b, -35px -294.66667px #0400ff, -171px -219.66667px #59ff00, -98px -390.66667px #00eaff, -22px -413.66667px #00ff09;
  }
}
@keyframes bang {
  to {
    box-shadow: 9px -410.66667px #0d00ff, 157px -34.66667px #ff00cc, 216px -222.66667px #a200ff, -128px 76.33333px #a6ff00, 84px 15.33333px #00ff22, 100px 80.33333px #004dff, 167px -57.66667px #ff009d, 207px -12.66667px #7bff00, 29px -87.66667px #3c00ff, 51px -341.66667px #bbff00, -185px -16.66667px #fbff00, -212px 61.33333px #ff7700, -244px -341.66667px #ff004d, 58px -30.66667px #8800ff, 179px -243.66667px #ff005e, -131px -187.66667px #00ffcc, -179px -244.66667px #0040ff, 64px -47.66667px #ff00ee, -226px -302.66667px #0066ff, -222px 49.33333px #00bbff, -11px -179.66667px #f2ff00, -187px -165.66667px #00ff66, 216px -362.66667px #00ff26, -246px -318.66667px #ff5500, -225px -316.66667px #00ff88, 126px -203.66667px #37ff00, 250px -361.66667px #ff001e, 18px -315.66667px #eeff00, 15px 81.33333px #73ff00, 130px -98.66667px #ff0011, 117px 78.33333px #eaff00, 111px -332.66667px #ff00ee, 177px -35.66667px #1500ff, 88px -298.66667px #00ffe1, 59px -75.66667px #ff6a00, 10px 42.33333px #00aeff, 31px -250.66667px #8400ff, 11px -330.66667px #00d5ff, -128px -107.66667px #ffee00, -139px -1.66667px #00ff15, -1px 39.33333px #88ff00, 66px 31.33333px #ff0026, -75px -215.66667px #ff4000, -205px -409.66667px #cc00ff, 139px -332.66667px #aaff00, -199px 40.33333px #00ff9d, -154px -183.66667px #ff007b, -35px -294.66667px #0400ff, -171px -219.66667px #59ff00, -98px -390.66667px #00eaff, -22px -413.66667px #00ff09;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
